body {
    background-image: url();
}

.container {
    text-align: center;
}

.index-logo {
    margin: 0 auto;
    margin-top: 200px;
}

.summoner-search {
}

.circle {}

.button {
    margin-left: 10px;
}

.a------------------------------------------------------------------------{

}

.summoner-info-form-container{
    border : 1px solid black;
    display:flex;
    height: 100px;
    margin-left : 100px;
    margin-right : 100px;
    margin-top : 20px;
}

.search-container{
    display:flex;
    margin-left : 40%;
    margin-top:50px
}

.test{
    border : 1px solid black;
    margin : auto;
}

.summoner-tier-info{
    border : 1px solid black;  
    margin-left : 100px;
    margin-right : 100px;
    margin-top : 20px;
}

.user-rank-tier-container{
    margin-left :100px;
    text-align : left;
}
.user-solo-rank-tier-img{
    float:left;
}
.user-solo-rank-tier-info{
    float:left;
}
.user-jayu-rank-tier-img{
    float:left;
    margin-left : 50px;
}
.user-jayu-rank-tier-info{
}